* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.common-form {
  width: 100%;
  height: auto;

  label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #333333;
  }

  input {
    display: block;
    padding: 0 0 0 12px;
    width: 279px;
    height: 40px;
    background: #F2F4F7;
    border-radius: 4px;
    margin: 8px 0 0 0px;
    border: 1px solid transparent;
  }

  button {
    width: 100%;
    margin: 9px 0 0 0;
  }

  &__contact {
    h4 {
      margin: 24px 0 2px 0;
      text-align: center;
    }
    p {
      max-width: 278px;
      margin: 0 0 8px 0;
    }
  }

  input.common-form__error-input {
    border-color: #E73636;
  }

  .common-form__error-text {
    height: 15px;

    span {
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0em;
      color: #E73636;
    }
  }
}